.gallery {
  width: 200vw;
  overflow: hidden;
}

.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: visible;
  transition: transform ease-in-out;
  padding: 2vw;
}

.horizontal > img {
  width: auto;
  height: 500px;
  transition: transform 200ms ease-in-out, border-radius 200ms ease-in-out, filter 200ms ease-in-out;
  filter: grayscale(100%);
}

.horizontal > img:hover {
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 5%;
  transition: transform 200ms ease-in-out, border-radius 200ms ease-in-out, filter 200ms ease-in-out;
  filter: grayscale(0%);
}
h1 {
  font-size: 3rem;      /* increases text height */
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;  
  line-height: 1.1;     /* controls vertical spacing */
  font-weight: 300;
  color: #ffffff;
}
body {
  background-color: #000000; /* deep night blue */
  margin: 0;
  padding: 40px;
}
.horizontal img {
  border: 2px solid #606060;   /* white border */
  padding: 6px;                /* space between image and border */
  border-radius: 8px;          /* soft corners */
}
.horizontal > img + img {
  margin-left: 5vw;
}